.wrapper-list-movie{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.wrapper-list-movie .list-game{
    padding: 1rem;
    width: 100%;
    border: 1px solid #282c34;
}

.wrapper-list-movie .list-movie{
    padding: 1rem;
    width: 100%;
    border: 1px solid #282c34;
}

.wrapper-list-movie div ul li {
    list-style: none;
}

.wrapper-image{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 15rem;
    height: 15rem;
    padding: 1rem;
}

.wrapper-image img{
    width: 100%;
    height: 100%;
}

