.logo {
    height: 47px;
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}

.ant-layout-sider-children{
    overflow: hidden;
}